.info-card {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #8F7BB3;
  margin-left: 50px;
  margin-top: 25px;
  height: 150px;
}
.info-content {
  padding-left: 70px; /* Adjust padding to prevent overlap with the image */
}
.profile-pic {
  width: 100px;
  height: 100px;
  position: absolute;
  padding: 0px;
  left: -50px;
  border: solid 1px #8F7BB3;
  margin-bottom: 0;
}




h3 {
  margin-top: 0;
  margin-bottom: 0;
  margin: 0; /* Remove default margin */
}

p {
  margin: 4px 0; /* Space between paragraphs */
}
